*{
    margin: 0;
    padding: 0;

}

body{
    background-color: rgb(192, 154, 173);
    text-align: center;
    
}

.container{

    height: 50vh;
    display: flex;
    flex-wrap: wrap ;
    justify-content: center;
    align-items: center;
    gap: 5px;
}


.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap ;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 25px;
    border: none;
    box-shadow:0 0 1rem rgba(0,0,0,0.4) ;
    font-size: 8vmin;
    background-color: rgb(233, 233, 207);
    color: black;
}

#reset{
    
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: white;
    border: none;
    border-radius: 10px ;
}

#newgame{

    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: white;
    border: none;
    border-radius: 1rem ;
}
#msg{
    color:rgb(233, 233, 207);
    font-size: 8vmin;
}

.msgcontainer{
    height: 80vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}
.hide{
    display: none;
}
#re{
    padding-top: 5%;
}